.example-parent {
  color: black;
  display: flex;
  font-family: sans-serif;
  font-weight: bold;
}

.example-origin {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}

.draggable {
  background-color: transparent;
  font-weight: normal;
}

.dropzone {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 10px;
}